

  <main role="main">

    <!-- le paso la lista (entre corchetes es el de tablka pelicula, el otro es de busqueda pelicula)-->
    <app-tabla-pelicula [listadoPeliculas]="listadoPeliculas" (peliculaSeleccionadaEvento)="cargarPeliculaSeleccionada($event)">
       
    </app-tabla-pelicula>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
    <!-- el evento creacionNuevaPeliculaEvento se lanza y va a cargarNuevaPelicula -->
          <app-alta-pelicula (creacionNuevaPeliculaEvento)="cargarNuevaPelicula($event)"> </app-alta-pelicula>
          
        </div>

        <div class="col-md-4">
          <!--peliculaParaMostrar es el atributo de detallePelicula. le llega la peli a peliculaSeleccionada  -->
          <app-detalle-pelicula [peliculaParaMostrar]="peliculaSeleccionada"></app-detalle-pelicula>
        </div>


        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>

        </div>
      </div>

      <hr />

    </div> <!-- /container -->

  </main>

